/*Navigation Bar Styling*/
nav {
    border-style: solid;
    border-width: 0.15em;
    border-color: rgb(251,33,125);
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 2em;
}
span {
    font-size: 1.3em;
    font-family: Courier New, monospace;
    color: rgb(71, 64, 63);
    font-weight: bolder;
}
nav a {
    padding-left: 5em;
    font-size: 1.2em;
    font-family: IBM Plex Sans, sans-serif;
}

/*Header Styling*/
.row {
    display: flex;
    flex-direction: row;   
}
#row-left-column {
    background-color: rgb(241, 179, 169); 
    height: 40vh; 
    flex: 40%;
}
.row-right-column {
    background-color: rgb(255, 255, 255); 
    height: 40vh; 
    flex: 60%; 
    background-position: center; 
    background-size: contain; 
    background-repeat:no-repeat;
}
#row-right-column-home {
    background-image: url(images/friends.png);
}
#row-right-column-members {
    background-image: url(images/selfie.png);
}
.main-heading {
    text-align: center;
    font-family: Concert One, cursive;
    font-size: 4em;
    color: rgb(251,33,125);
    padding: 1% 5%;
}

/*Content Styling*/
#content, #password {
    font-family: Montserrat, cursive;
    padding-top: 5%;
    padding-bottom: 5%;
}
#layout-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}